            <div class="form-group">
                <label class="control-label">Name(*)</label>
                <input type="text" placeholder="Name" class="form-control" data-ng-model="selectedRecord.name" required />
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <textarea type="text" placeholder="Description" class="form-control" data-ng-model="selectedRecord.description"></textarea>
            </div>
